
@{
  ViewBag.Title = "CoverageAndPolicies";
}

<h2>Coverage And Policies</h2>

<h3>Quality insurance centered around you.</h3>
<p>When it comes to insurance, one size doesn't fit all. Learn about the many different coverage types available to help meet your needs.</p>
<br />
<h4>TYPES OF COVERAGE AVAILABLE:</h4>
<h5><strong>Collistion Coverage</strong></h5>
<p>Covers expenses related to the damage or destruction of your vehicle from an accident or other collision.</p>
<br />

<h5><strong>Comprehensive Coverage</strong></h5>
<p>Covers expenses related to the damage to your vehicle caused by vandalism, theft, weather, and more.</p>
<br />

<h5><strong>Liability Coverage</strong></h5>
<p>Covers expenses related to injury, death or property damage of others when you're at fault.</p>
<br />

<h5><strong>Uninsured/Underinsured motorist Coverage</strong></h5>
<p>Covers your expenses if the other driver is at fault and doesn't have insurance.</p>
<br />

<h5><strong>Medical payment Coverage</strong></h5>
<p>Covers medical expenses if you or your passengers are hurt.</p>
<br />

<div>
  @Html.ActionLink("Back Home", "Index", "Home", null, null)
</div>
