
@{
  ViewBag.Title = "Discounts";
}

<h2>Discounts</h2>

<h3>Savings without Losing Coverage.</h3>
<p>It's possible to get quality coverage at a lower rate than you might think. Whether you decide to bundle your insurance policies, invest in an anti-theft device and more.</p>
<br />
<h4>AVAILABLE DISCOUNTS:</h4>
<h5><strong>New Car Discount</strong></h5>
<p>Save if your vehicle is new and you're the first owner.</p>
<br />

<h5><strong>Multiple Policy Discount</strong></h5>
<p>You can bundle Auto and Home or Renters and save.</p>
<br />

<h5><strong>Student Discount</strong></h5>
<p>Meet the student requirements and you may qualify for a discount.</p>
<br />

<div>
  @Html.ActionLink("Back Home", "Index", "Home", null, null)
</div>