@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>INSURE-U was founded in 1945 and has helped insure drivers and help keep them on the road for 75 years.</p>
<br />

<div>
  @Html.ActionLink("Back Home", "Index", "Home", null, null)
</div>
