@using CarInsurance.Models
@model List<Insuree>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow" >
        <div class="card-header text-center">
            <h5 class="m-0">Insuree Quotes</h5>
        </div>
        <div class="card-body">
          @foreach (var insureeQuote in Model)
          {
                <div class="row">
                    <div class="col">
                      @insureeQuote.FirstName
                    </div>

                    <div class="col">
                      @insureeQuote.LastName
                    </div>

                    <div class="col">
                      @insureeQuote.EmailAddress
                    </div>

                    <div class="col">
                      @insureeQuote.Quote
                    </div>

                </div>
          }

        </div>
    </div>
</div>
