@{
    ViewBag.Title = "INSURE-U Insurance";
}
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>

<address>
    123 Corporate Way<br />
    Chicago, IL 12345-9876<br />
    <abbr title="Phone">P:</abbr>
    555.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<br />

<div>
  @Html.ActionLink("Back Home", "Index", "Home", null, null)
</div>