@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INSURE-U</h1>
    <p class="lead">A policy with INSURE-U is more than just car insurance. It's personalized assistance from agents and innovative tools that help keep you driving. Get a car insurance quote and learn why millions of households trust INSURE-U for their insurance needs.</p>
    <p><a href="/insuree/Create" class="btn btn-primary btn-lg">Get A Quote &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coverage Types</h2>
        <p>See all the ways INSURE-U can help protect your car.</p>
        <p><a class="btn btn-default" href="/insuree/CoverageAndPolicies">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discounts</h2>
        <p>Learn how you can save on car insurance by browsing our discounts.</p>
        <p><a class="btn btn-default" href="/insuree/Discounts">Start Saving &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Contact an Agent today for any questions or assistance on picking the right policy that's best for you.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>

